.pageContainer{
    height: max-content;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer{
    width: 40px;
    height: 40px;
    margin: 2px;
}

.button{
    margin: 2px;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(102, 202, 72);
    border-radius: 7px;
    transition: all 0.25s ease;
}

.button:hover{
    cursor: pointer;
    border: 0px;
    filter: invert();
}

.buttonDisabled{
    margin: 2px;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(100, 102, 100);
    background-color: bisque;
    border-radius: 7px;
    transition: all 0.25s ease;
}

.buttonSide{
    margin: 2px;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(102, 202, 72);
    border-radius: 7px;
    transition: all 0.25s ease;
    display: none;
}

.buttonSide:hover{
    cursor: pointer;
    border: 0px;
    filter: invert();
}

.buttonSideDisabled{
    margin: 2px;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(100, 102, 100);
    background-color: bisque;
    border-radius: 7px;
    transition: all 0.25s ease;
    display: none;
}

.active{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(39, 36, 36);
    background-color: rgb(39, 36, 36);
    color: rgb(102, 202, 72);
    border-radius: 7px;
}


@media (max-width: 832px){
    .buttonContainer{
        display: none;
    }
    .buttonSide{
        display: block;
    }

    .buttonSideDisabled{
        display: block;
    }
}




