.searchContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.searchContainer input{
    width: 30%;
    height: 50%;
    border: 2px solid rgb(102, 202, 72);
    border-radius: 20px;
    padding-left: 15px;
    font-size: 1em;
    color: black;
    margin: 5px;
}

.searchContainer button{
    margin: 5px;
    width: auto;
    height: 59%;
    background-color: rgba(240, 248, 255, 0);
    border: 2px solid rgb(102, 202, 72);
    border-radius: 20px;
    transition: all 0.25s ease;
}

.searchContainer button:hover{
    background-color: rgb(102, 202, 72);
    cursor: pointer;
}

@media (max-width: 832px){
    .searchContainer input{
        width: 80%;
    }
    .searchContainer button{
        width: 50%;
    }
}