.landingPageContainer {
  background-image: url("../../sourceImg/fondo.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* background-color: red; */
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: aliceblue;
  /* padding: 5px 10px 5px 10px;
    border: 1px solid aliceblue;
    border-radius: 12px; */
}


.link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  width: 37%;
  height: 8%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid aliceblue;
  border-radius: 12px;
  transition: all 0.25s ease;
  flex-wrap: wrap;

}
.link:hover {
  background-color: rgba(70, 57, 57, 0.466);
  cursor: pointer;
}
.link:active{
  background-color: rgba(233, 118, 10, 0.884);
}


@media (max-width: 1366px) {
  .link {
    width: 23%;
    height: 10%;
  }
}

@media (max-width: 914px) {
  .link {
    width: 23%;
  }
}
@media (max-width: 720px) {
  .link {
    width: 30%;
  }
}
